services:
  - type: web
    name: api-heroes
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: RENDER_EXTERNAL_URL
        value: https://api-heroes.onrender.com 